@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
*   {
    margin: 0;
    padding: 0;
    }
ul,ol {list-style: none;}
a   {
    text-decoration: none;
    color: #000;
    }
img {
    border: none;
    vertical-align: bottom;
    }
body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #1a1a1a;
    width: 100%;
    }

/* header설정 */

/* header{
        position: absolute;
        width: 93.6%;
        height: 170px;
        left: 1px;
        top: 0px;
        padding-left: 120px;
        background-color: #1a1a1a;
        opacity: 0.3;
        z-index:7;
        } */

.boxB   {
        position: absolute;
        width: 18%;
        right: 0;
        top: 15px;
        color: #FFFFFF;
        font-size: 16px;
        z-index: 10;
        }
.login {display: flex;}
.login li:hover {
                color: #1a1a1a;
                font-weight: bold;
                cursor: pointer;
                }
.boxC   {
        position: absolute;
        width: 60%;
        height: 22px;
        left: 545px;
        top: 135px;
        color: #FFFFFF;
        z-index: 10;
        font-size: 18px;
        }
.eup {display: flex;}
.submenu ul li{margin-right: 25px;}
.eup li{margin-right: 180px;}
.eup li:hover {
                color: #1a1a1a;
                font-weight: bold;
                cursor: pointer;
                }

/* 메뉴 배경설정 */
header {
        position: absolute;
        width: 100%;
        height: 170px;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        }
/* 로고설정 */

.logo   {
        width: 212px;
        height: 92px;
        background-image: url(../img/logo.png);
        margin-left: 45%;
        margin-top: 12px;
        }

/* hero설정 */

.heroimg {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
}
.box1-1 {
        position: absolute;
        top: 560px;
        margin-left: 220px;
        }
.box1-1 img     {
                width: 310px;
                height: 310px;
                box-sizing: border-box;
                }
.box1-1 p {
        text-align: center;
        color: #DC913A;
        font-weight: bold;
        font-size: 20px;
        }

.box1-2 {
        position: absolute;
        top: 270px;
        margin-left: 300px;
        }
.box1-2 img     {
                width: 550px;
                height: 550px;
                box-sizing: border-box;
                }
.box1-2 p {
        text-align: center;
        color: #DC913A;
        font-weight: bold;
        font-size: 20px;
        }

.box1-3 {
        position: absolute;
        top: 500px;
        margin-left: 800px;
        }
.box1-3 img     {
                width: 340px;
                height: 340px;
                }
.box1-3 p {
        text-align: center;
        color: #DC913A;
        font-weight: bold;
        font-size: 20px;
        }

.box1-4 {
        position: absolute;
        top: 280px;
        margin-left: 1080px;
        z-index: 10;
        }
.box1-4 img{
        width: 550px;
        height: 540px;
        }
.box1-4 p {
        text-align: center;
        color: #DC913A;
        font-weight: bold;
        font-size: 20px;
        }

.box1-5 {
        position: absolute;
        top: 560px;
        margin-left: 1400px;
        }
.box1-5 img{
        width: 310px;
        height: 310px;
        }
.box1-5 p {
        text-align: center;
        color: #DC913A;
        font-weight: bold;
        font-size: 20px;
        }

/* hero글자 가운데 배치 */
.up {
        position: absolute;
        top: 260px;
        left: 880px;
        font-size: 38px;
        color: #1E7408;
        }
.down {
        position: absolute;
        top: 310px;
        left: 770px;
        font-size: 60px;
        color: #DC913A;
        }

/* 읍천리메뉴 설정 */
.box2 {height: 880px;}
.box2-1 {position: relative;}
.info {
        position: absolute;
        color: #FFC318;
        top: 90px;
        left: 100px;
        }
.top_title {
        font-size: 26px;
        }
.bottom_title {
                font-size: 80px;
                margin-bottom: 25px;
                }
.info_txt {
        color: #6A6A6A;
        margin-bottom: 100px;
        }
.info span {
        color: #000;
        font-weight: bold;
        font-size: 15px;
        z-index: 99;
        position: relative;
        }
.info span:hover {
                cursor: pointer;
                opacity: 0.5;
                }

/* 네모박스 */
.meno {
        position: absolute;
        border: 5px solid #FFE194;
        border-radius: 230px;
        width: 849px;
        height: 893px;
        top: -480px;
        left: -400px;
        z-index: 0;
        box-sizing: border-box;
        }

/* 네모박스 뒤로 보내기 */
.box1 {
        position: relative;
        z-index: 5;
        }
.box2 {
        position: relative;
        z-index: 1;
        }

/* 메뉴 음료 이동 */
.box2-2 {
        position: absolute;
        left: 600px;
        top: 120px;
        }
.box2-2 img {
                width: 550px;
                height: 550px;
                }
.box2-2 p {text-align: center;}
.txt2-1 {
        font-weight: bold;
        font-size: 26px;
        }
.txt2-2 {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 15px;
        }
.txt2-3 {
        font-size: 15px;
        line-height: 22px;
        }
.box2-3 {
        position: absolute;
        right: 430px;
        top: 250px;
        }
.box2-3 img {
        width: 380px;
        height: 380px;
        }
.box2-3 p {text-align: center;}
.txt2-4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        }
.txt2-5 {font-size: 11px;}
.box2-4 {
        position: absolute;
        right: 120px;
        top: 250px;
        }
.box2-4 img {
                width: 380px;
                height: 380px;
                }
.box2-4 p {text-align: center;}
.txt2-6 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        }
.txt2-7 {font-size: 11px;}

/* 메뉴 화살표 */
.box2-2 span {
                position: absolute;
                color: #FFBD00;
                font-weight: bold;
                top: 42%;
                display: block;
                font-size: 45px;
                cursor: pointer;
                opacity: 30%;
                }
.box2-2 .left {left: 15%;}
.box2-2 .right {right: 17%;}
.box2-2 span:hover {opacity: 0.9;}

/* 읍천리 history */
.box3 {position: relative;
height: 900px;}

.box3-1 {
        position: absolute;
        left: 200px;
        bottom: 115px;
        }
.box3-1 h3      {
                color: #F33C01;
                font-weight: bold;
                font-size: 55px;
                margin-bottom: 60px;
                }
.box3-2 {
        position: absolute;
        top: 120px;
        right: 0;
        box-sizing: border-box;
        }
.txt3-1 {
        color: #6A6A6A;
        font-size: 25px;
        line-height: 36px;
}
.txt3-1 b {
        color: #1a1a1a;
        font-size: 30px;
        }
.txt3-2 {
        margin-top: 25px;
        margin-bottom: 25px;
        color: #6A6A6A;
        font-size: 25px;
        line-height: 36px;
        }
.txt3-3 {
        color: #6A6A6A;
        font-size: 25px;
        margin-bottom: 80px;
        }
.box3-1 button {
                background-color: #fff;
                border: 1px solid #4E4E4E;
                width: 150px;
                height: 50px;
                font-size: 18px;
                }
.box3-1 button:hover {
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.1);
                        opacity: 0.3;
                        }
.txt3-4 {
        position: absolute;
        top: 55px;
        color: #C6B085;
        font-weight: bold;
        font-size: 50px;
        right: 35px;
        }
.txt3-5 {
        position: absolute;
        transform: rotate(-90deg);
        color: #fff;
        font-weight: bold;
        bottom: 180px;
        letter-spacing: 3px;
        font-size: 50px;
        left: -90px;
        }

/* product menu설정 */
.box4 {
        position: relative;
        height: 800px;
        margin-top: 100px;
        }
.box4-1{
        position: absolute;
        top: 120px;
        left: 200px;
        }
.box4-2 {
        position: absolute;
        top: 90px;
        right: 180px;
        }
.pro    {
        font-size: 60px;
        color: #99896A;
        font-weight: bold;
        margin-bottom: 40px;
        }
.txt4-1 {
        font-size: 21px;
        margin-bottom: 25px;
        }
.txt4-2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
        }
.txt4-3{
        font-size: 20px;
        margin-bottom: 80px;
        line-height: 27px;
        }
.txt4-4 {
        font-size: 22px;
        color: #4E4E4E;
        font-weight: bold;
        }

/* MD상품팔기 */
.box6   {
        position: relative;
        }
.md     {
        bottom: 0;
        margin-left: 12%;
        }
.box6 fieldset {
                width: 1200px;
                height: 120px;
                }
.box6 fieldset span{
                        margin-right: 50px;
                        margin-left: 13px;
                        margin-top: 50px;
                        }
.box6 fieldset input{margin-left: 25px;}
.box6-1{
        display: flex;
        border-top: #1a1a1a solid 1px;
        box-sizing: border-box;
        }
.md div {
        margin-top: 20px;
        margin-left: 22px;
        font-size: 18px;
        font-weight: bold;
        }
.ch     {
        border-bottom: 1px solid #000;
        width: 1375px;
        height: 37px;
        left: 143px;
        top: 2963px;
        margin-bottom: 20px;
        margin-right: 20px;
        }
.md input:hover{cursor: pointer;}
/* 상품 가로정렬하기 */
.produ {
        display: flex;
        justify-content: center;
        margin-bottom: 130px;
        margin-top: 80px;
        }
.box6-2 {margin-right: 180px;}
.box6-3 {margin-right: 180px;}
.box6-4 {margin-right: 180px;}
.produ p {text-align: center;}
.main{
        font-size: 20px;
        font-weight: bold;
        margin-top: 12px;
        margin-bottom: 10px;
        }
.eng {
        font-size: 15px;
        margin-bottom: 30px;
        width: 219px;
        height: 0px;
        left: 140px;
        top: 3426px;
        border-top: 1px solid #000000;
        }
.sub {line-height: 22px;}
.produ img:hover {
                cursor: pointer;
                opacity: 0.7;
                }

/* notice 설정 */
.box5 {
        display: flex;
        border-top: #1a1a1a solid 1px;
        padding: 15px;
        }
.box5-1 {display: flex;}
.box5-1 img{
        margin-left: 40px;
        margin-right: 30px;
        }
.txt5-1{
        margin-top: 5px;
        margin-right: 80px;
        font-size: 18px;
        }
.txt5-2 {
        margin-top: 6px;
        font-size: 16px;
        }
.txt5-2:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.txt5-3 {
        margin-top: 5px;
        margin-left: 500px;
        }
.txt5-3:hover {cursor: pointer;}
.hm     {
        width: 60px;
        border: 1px solid #1a1a1a;
        opacity: 0.6;
        transform: rotate(90deg);
        margin: 15px 170px;
        margin-left: 0px;
        }
.box5-2 {display: flex;}
.box5-2 img{margin-left: -170px;}
.txt5-4 {
        margin-top: 5px;
        margin-right: 80px;
        margin-left: -110px;
        font-size: 18px;}
.txt5-5 {
        margin-top: 6px;
        font-size: 16px;
        margin-left: -10px;
        }
.txt5-5:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.txt5-6{
        margin-top: 5px;
        margin-left: 500px;
        }
.txt5-6:hover {cursor: pointer;}

/* footer설정 */
footer{
        background-color: #393737;
        color: #fff;
        display: flex;
        padding: 50px 80px;
        font-size: 18px;
        }
.footer1 {margin-right: 200px;}
.footer1 img{margin-bottom: 50px;}
.footer1 p{margin-bottom: 30px;}
.txt6-1 {
        font-weight: bold;
        word-spacing: 15px;
        letter-spacing: 2px;
        }
.txt6-2 span {
        margin-right: 20px;
        letter-spacing: 0.5px;
        }
.txt6-3 span{
        margin-right: 15px;
        letter-spacing: 0.5px;
        }

/* footer CALL CENTER설정 */
.footer2 {
        margin-top: 70px;
        line-height: 41px;
        margin-right: 200px;
        }
.txt6-6 {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 2px;
        }
.txt6-7 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px;
        }


/* footer SNS 설정 */
.footer3{
        margin-top: 70px;
        line-height: 41px;
        }
.footer3 p {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 2px;
        }
.footer3 ul     {
                display: flex;
                justify-content: center;
                width: 100%;
                }
.footer3 li     {
                margin-top: 15px;
                margin-right: 20px;}
.footer3 li a{
                display: flex;
                width: 250px;
                height: 200px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                }
.footer3 li a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border-radius: 60px;
                border: 2px solid #D9D9D9;
                background-color: #D9D9D9;
                }
.footer3 li a img {
                max-width:45px;
                height: 45px;
                }
.footer3 li a:hover img {opacity: 0.6;}   