@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit&display=swap');

/* 전체설정 */
*   {
    margin: 0;
    padding: 0;
    }
ul,ol {list-style: none;}
a   {
    text-decoration: none;
    color: #000;
    }
img {
    border: none;
    vertical-align: bottom;
    }
body {
        font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    width: 100%;
    overflow-x: hidden;
    }

/* header설정 */
.boxB   {
        position: absolute;
        right: 0;
        top: 15px;
        color: #9a9a9a;
        font-weight: bold;
        font-size: 16px;
        z-index: 10;
        }
.login {display: flex;}
.login li:hover {
                color: #F5B602;
                font-weight: bold;
                cursor: pointer;
                }
.boxC   {
        position: absolute;
        width: 100%;
        height: 22px;
        left: 0px;
        top: 125px;
        color: #5a5a5a;
        font-weight: bold;
        z-index: 10;
        font-size: 18px;
        }
.eup    {
        display: flex;
        width: 80%;
        margin: 0 auto;
        }
.submenu ul li{margin-right: 25px;}
.eup li {
        width: 25%;
        text-align: center;
        }
.eup li:hover {
                color: #F5B602;
                font-weight: bold;
                cursor: pointer;
                }

/* 메뉴 배경설정 */

header {
        position: absolute;
        width: 100%;
        height: 160px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.6);
        }

/* 로고설정 */
.logo   {
        width: 212px;
        height: 92px;
        background-image: url(../img/logo.png);
        margin-top: 12px;
        }
.boxA   {
        display: flex;
        justify-content: center;
        text-align: center;
        }

/* hero설정 */
/* hero 재설정 */
.hero_txt {display: none;}
.box1-1 {display: none;}
.box1-2 {display: none;}
.box1-3 {display: none;}
.box1-4 {display: none;}
.box1-5 {display: none;}
.box1 {
        width: 100%;
        height: 100vh;
        background-image: url(../img/hero11.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        }
.box1 .hero {
        width: 80%;
        height: 70%;

        position: absolute;
        left: 10%;
        top: 22%;
        }

.box1 .hero .hero_txt {
                        width: 100%;
                        text-align: center;
                        padding-top: 50px;
                        height: 15%;
                        }
.up {
        font-size: 38px;
        color: #1E7408;
        font-family: 'Pattaya', sans-serif;
        }
.down {
        font-size: 60px;
        color: #F5B602;
        font-family: 'Orelega One', cursive;
        }
.box1 .hero .dr {
                height: 80%;
                width: 100%;
                /* background-color: #4E4E4E; */
                position: relative;
                }
.box1 .hero .dr>div {position: absolute;}
.box1 .hero .dr .box1-1 {
                        left: 0;
                        bottom: 0;
                        }
.box1-1 img     {
                width: 310px;
                height: 310px;
                box-sizing: border-box;
                }
.box1-1 p {
        text-align: center;
        color: #d49c00;
        font-weight: bold;
        font-size: 20px;
        }
.box1 .hero .dr .box1-2 {
                        left: 3%;
                        bottom: 3%;
                        }
.box1-2 img     {
                width: 630px;
                height: 630px;
                box-sizing: border-box;
                }
.box1-2 p {
        text-align: center;
        color: #d49c00;
        font-weight: bold;
        font-size: 20px;
        }
.box1 .hero .dr .box1-3 {
                        right: 50%;
                        margin-right: -200px;
                        bottom: -1%;
                        }
.box1-3 img     {
                width: 400px;
                height: 400px;
                }
.box1-3 p {
        text-align: center;
        color: #d49c00;
        font-weight: bold;
        font-size: 20px;
        }
.box1 .hero .dr .box1-4 {
                        right: 3%;
                        bottom: 3%;
                        z-index: 10;
                        }
.box1-4 img     {
                width: 630px;
                height: 630px;
                }
.box1-4 p {
        text-align: center;
        color: #d49c00;
        font-weight: bold;
        font-size: 20px;
        }
.box1 .hero .dr .box1-5 {
                        right: 0;
                        bottom: 0;
                        }
.box1-5 img     {
                width: 310px;
                height: 310px;
                }
.box1-5 p {
        text-align: center;
        color: #d49c00;
        font-weight: bold;
        font-size: 20px;
        }

/* 읍천리메뉴 설정 */
.box2 {
        height: 730px;
        width: 100%;
        position: relative;
        }
.box2-1 {position: relative;}
.info {
        position: absolute;
        color: #d49c00;
        font-family: 'Inter', sans-serif;
        top: 90px;
        left: 100px;
        }
.top_title {
        font-size: 26px;
        }
.bottom_title {
                font-size: 80px;
                margin-bottom: 25px;
                }
.info_txt {
        color: #3A3A3A;
        margin-bottom: 100px;
        }
.info .click {
        color: #000;
        font-weight: bold;
        font-size: 15px;
        z-index: 99;
        position: relative;
        }
.info span:hover {
                cursor: pointer;
                opacity: 0.3;
                }

/* 네모박스 */
.meno {
        position: absolute;
        border: 5px solid #F5B602;
        border-radius: 230px;
        width: 849px;
        height: 893px;
        top: -480px;
        left: -400px;
        z-index: 0;
        box-sizing: border-box;
        }

/* 네모박스 뒤로 보내기 */
.box1 {
        position: relative;
        z-index: 5;
        }
.box2 {
        position: relative;
        z-index: 1;
        }

/* 메뉴 음료 이동 */
.box2 ul {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        }
.drink p {text-align: center;}
.drink img{
        width: 600px;
        height: 600px;
        }
/* menuBox 설정  
중간이상으로 지나갈때 안보이게 하기 위해 박스의 
overflow:hidden 이 필요함 
그래서 menuBox 사이즈가 있어야 하고 그 안에 ul은 트레일러가 되어서 
 슬라이드 시켜야함  */


.menuBox {
        width: 60%;
        height: 100%;
        overflow: hidden;
        right: 0;
        top: 0;
        position: absolute;
        }

/* 화살표설정 */
.left {
        position: absolute;
        color: #F5B602;
        font-weight: bold;
        top: 50%;
        left: 60px;
        display: block;
        font-size: 45px;
        cursor: pointer;
        opacity: 30%;
        font-family: 'Nanum Gothic', sans-serif;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        z-index: 999;
        }
.right {
        position: absolute;
        color: #F5B602;
        font-weight: bold;
        top: 50%;
        display: block;
        font-size: 45px;
        cursor: pointer;
        opacity: 30%;
        left: 500px;/*li의 가로값 만큼 이동 */
        font-family: 'Nanum Gothic', sans-serif;
        z-index: 999;
        }
.left:hover {opacity: 0.9;}
.right:hover {opacity: 0.9;}
.txt2-1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        }
.txt2-2 {
        font-size: 12px;
        }
.txt2-4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        }
.txt2-5 {font-size: 12px;}
.txt2-6 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        }
.txt2-7 {font-size: 12px;}

/* 읍천리 history */
.box3 {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 200px auto;
        z-index: 1;
        margin-bottom: 1px;
        }
.box3-1 {
        width: 50%;
        margin-left: 8.5%;
        margin-top: 140px;
        }
.box3-2 {box-sizing: border-box;}
.pro2  {
        font-size: 60px;
        color: #F33C01;
        font-weight: bold;
        margin-bottom: 60px;
        font-family: 'Niramit', sans-serif;
        }
.txt3-1 {
        font-size: 22px;
        margin-bottom: 35px;
        }
        .txt3-1 b {font-size: 30px;}
.txt3-2{
        font-size: 22px;
        margin-bottom: 35px;
        }
.txt3-3{
        font-size: 22px;
        margin-bottom: 50px;
        line-height: 27px;
        }
.box3-1 button {
                background-color: #fff;
                border: 1px solid #4E4E4E;
                width: 150px;
                height: 50px;
                font-size: 18px;
                }
.box3-1 button:hover {
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.4);
                        color: #fff;
                        border: none;
                        font-weight: bold;
                        }
.txt3-4 {
        position: absolute;
        top: 55px;
        color: #C6B085;
        font-weight: bold;
        font-size: 50px;
        right: 15px;
        }
.txt3-5 {
        position: absolute;
        transform: rotate(-90deg);
        color: #fff;
        font-weight: bold;
        bottom: 180px;
        letter-spacing: 3px;
        font-size: 50px;
        right: 800px;
        z-index: 5;
        }

/* 비디오 설정 */
.video {
        width: 100%;
        height: 100vh;
        }
.video video    {
                width: 100%;
                }


/* product menu설정 */
.box4 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 100px auto;
        margin-top: 300px;}
.box4-2 {box-sizing: border-box;}
.pro    {
        font-size: 70px;
        color: #F5B602;
        font-weight: bold;
        margin-bottom: 35px;
        }
.txt4-1 {
        font-size: 21px;
        margin-bottom: 25px;
        }
.txt4-2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
        }
.txt4-3{
        font-size: 20px;
        margin-bottom: 70px;
        line-height: 27px;
        }
.txt4-4 {
        font-size: 22px;
        color: #4E4E4E;
        font-weight: bold;
        }

/* MD상품팔기 */
.box6   {
        position: relative;
        }
.md     {
        bottom: 0;
        display: flex;
        justify-content: center;
        text-align: left;
        }
.box6 fieldset {
                width: 1200px;
                height: 150px;
                }
.box6 fieldset span{
                        margin-right: 50px;
                        margin-left: 13px;
                        }
.box6 fieldset input{margin-left: 25px;}
.box6-1{
        display: flex;
        border-top: #1a1a1a solid 1px;
        box-sizing: border-box;
        }
.md div {
        margin-top: 23px;
        margin-left: 22px;
        font-size: 20px;
        font-weight: bold;
        }
        .ch {
                border-bottom: 1px solid #000;
                margin-bottom: 25px;
                height: 50px;
                width: 1550px;
                margin-right: 20px;
                box-sizing: border-box;
                }
.md input:hover{cursor: pointer;}

/* 상품 가로정렬하기 */
.produ {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 180px;
        }
.box6-2 {margin-right: 90px;}
.box6-3 {margin-right: 90px;}
.box6-4 {margin-right: 90px;}
.produ p {text-align: center;}
.main   {
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        }
.eng    {
        font-size: 15px;
        margin-bottom: 35px;
        width: 330px;
        height: 0px;
        left: 140px;
        top: 3426px;
        border-top: 1px solid #000000;
        }
.sub {line-height: 25px;}
.produ img:hover {
                cursor: pointer;
                opacity: 0.7;
                }
.produ img {background-size: cover;}

/* notice 설정 */
.box5 {
        display: flex;
        border-top: #1a1a1a solid 1px;
        padding: 15px;
        font-family: 'Nanum Gothic', sans-serif;
        width: 100%;
        }
.line1 {
        border: 1px solid #1a1a1a;
        opacity: 0.8;
        transform: rotate(90deg);
        height: 0;
        width: 20px;
        margin-top: 20px;
        }
.line2 {
        border: 1px solid #1a1a1a;
        opacity: 0.8;
        transform: rotate(90deg);
        height: 0;
        width: 20px;
        margin-top: 20px;
        }
.box5-1 {
        display: flex;
        width: 50%;
        }
.box5-2{width: 50%;}
.box5-1 img{
        margin-left: 40px;
        margin-right: 30px;
        margin-top: 4px;
        }

.txt5-1{
        margin-top: 10px;
        margin-right: 30px;
        font-size: 17px;
        }
.txt5-2 {
        margin-top: 10px;
        margin-left: 30px;
        font-size: 16px;
        width: 87%;
        display: flex;
        justify-content: space-between;
        }
.txt5-5 {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: -150px;
        font-size: 16px;
        width: 87%;
        display: flex;
        justify-content: space-between;
        }
.txt5-2 a:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.txt5-2 p:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.txt5-5 a:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.txt5-5 p:hover {
                cursor: pointer;
                opacity: 0.6;
                }
.hm     {
        width: 95px;
        height: 0;
        border: 1px solid #1a1a1a;
        opacity: 0.6;
        transform: rotate(90deg);
        margin: 21px 170px;
        /* margin-left: 130px; */
        }
.box5-2 {display: flex;}
.box5-2 img     {
                margin-left: -170px;
                margin-top: 5px;
                }
.txt5-4 {
        margin-top: 10px;
        margin-right: 30px;
        margin-left: -110px;
        font-size: 17px;
        }

/* footer설정 */
footer  {
        background-color: #393737;
        color: #fff;
        display: flex;
        padding: 50px 80px;
        font-size: 18px;
        }
.footer1 {margin-right: 200px;}
.footer1 img{margin-bottom: 40px;}

.txt6-1 {
        font-weight: bold;
        word-spacing: 15px;
        letter-spacing: 2px;
        }
.txt6-1 {margin-bottom: 38px;}
.txt6-2 {margin-bottom: 15px;}
.txt6-3 {margin-bottom: 15px;}
.txt6-4 {margin-bottom: 15px;}
.txt6-1 span{color: #fff;}
.txt6-2 span    {
                margin-right: 20px;
                letter-spacing: 0.5px;
                }
.txt6-3 span    {
                margin-right: 15px;
                letter-spacing: 0.5px;
                }
.txt6-1 a span:hover    {
                        cursor: pointer;
                        color: #6a6a6a;
                        }

/* footer CALL CENTER설정 */
.footer2 {
        margin-top: 70px;
        line-height: 41px;
        margin-right: 200px;
        }
.txt6-6 {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 2px;
        }
.txt6-7 {
        font-size: 36px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px;
        }
.txt6-9 {
        margin-bottom: -5px;
        margin-top: -5px;
        }

/* footer SNS 설정 */
.footer3{
        margin-top: 70px;
        line-height: 41px;
        }
.footer3 p      {
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 2px;
                }
.footer3 ul     {
                display: flex;
                justify-content: center;
                width: 100%;
                }
.footer3 li     {
                margin-top: 15px;
                margin-right: 20px;}
.footer3 li a   {
                display: flex;
                width: 250px;
                height: 200px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                }
.footer3 li a   {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border-radius: 60px;
                border: 2px solid #D9D9D9;
                background-color: #D9D9D9;
                }
.footer3 li a img {
                max-width:45px;
                height: 45px;
                }
.footer3 li a:hover img {opacity: 0.5;}   



/* 서브페이지 만들기 */
.box7 {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0px auto;
        padding-top: 220px;
        padding-bottom: 65px;
        background-image: url(../img/hero9.jpg);
        opacity: 0.3px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
.box7-1 {
        width: 35%;
        margin-bottom: 15px;
        }
.box7-3 {width: 23%;}
.box7-3 img{
        box-sizing: border-box;
        width: 590px;
        height: 700px;
        }
.line3 {
        width: 666px;
        height: 0px;
        left: 736px;
        top: 354px;
        border: 1px solid #000000;
        margin-bottom: 40px;
        }
.txt7-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
.txt7-2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
.txt7-3 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
.txt7-4 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
.txt7-4 button {
                width: 115px;
                height: 40px;
                margin-left: 26px;
                font-weight: bold;
                background-color: #fff;
                border: 1px solid #9a9a9a;
                color: #3a3a3a;
                }
.txt7-4 button:hover{
        cursor: pointer;
        background-color: #6a6a6a;
        color: #fff;
        border: none;
        }
.txt7-4 button div {
                word-spacing: 20px;
                font-size: 15px;
                }
.swp2   {
        font-size: 50px;
        font-weight: bold;
        }
.swp3 {
        font-size: 21px;
        margin-bottom: 25px;
        }
.word   {
        font-size: 30px;
        font-weight: bold;
        }
.price  {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        width: 20%;
        }
.open:hover {
                        cursor: pointer;
                        color: #d49c00;
                        }
.word {
        font-size: 22px;
        color: #4E4E4E;
        font-weight: bold;
        }
.box7-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        }
.btn1 {
        width:330px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #9a9a9a;
        }
.btn2   {
        width:330px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #9a9a9a;
        }
.btn3   {
        width: 666px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 15px;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        border: none;
        }
.btn4   {
        width: 666px;
        height: 55px;
        font-size: 18px;
        letter-spacing: 1px;
        background-color: #fff;
        border: 1px solid #9a9a9a;
        font-weight: bold;
        }
.btn1:hover{
        cursor: pointer;
        background-color: #6a6a6a;
        color: #fff;
        border: none;
        }
.btn2:hover{
        cursor: pointer;
        background-color: #6a6a6a;
        color: #fff;
        border: none;
        }
.btn3:hover{
        cursor: pointer;
        background-color: #9a8a9a;
        color: #fff;
        border: none;
        }
.btn4:hover{
        cursor: pointer;
        background-color: #6a6a6a;
        color: #fff;
        border: none;
        }
.swpBox>div {margin-bottom: 50px;}

/* 같이 먹기 좋은 음료 설정 */
.box8   {
        margin-top: 100px;
        height: 850px;
        width: 100%;
        }
.box8 img {
        width: 310px;
        height: 400px;
        }
.box8 ul {
        display: flex;
        justify-content: space-around;
        text-align: left;
        margin-right: 140px;
        margin-left: 100px;
        width: 1700px;
        }
.dri    {
        margin-top: 12px;
        margin-bottom: 10px;
        font-size: 21px;
        font-weight: bold;
        }
.pri {
        font-size: 20px;
        margin-right: 210px;
        font-size: 18px;
        }
.bot {display: flex;}
.box8 img:hover{
                cursor: pointer;
                opacity: 0.6;
                }
.dri:hover {
        cursor: pointer;
        color: #d49c00;
        }
.re2:hover {
        cursor: pointer;
        font-weight: bold;
        }
/* 회원혜택안내설정*/
.box9 {height: 510px;}
.box9 ul {
        display: flex;
        justify-content: space-around;
        margin-right: 100px;
        margin-left: 100px;
        text-align: center;
        }
.title3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        }
.title4 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        }
.title5 {
        font-size: 24px;
        font-weight: bold;
        }
.botti  {
        margin-top: 20px;
        font-size: 18px;
        line-height: 27px;
        }

/* 광고박스 설정 */
.box10 {
        position: relative;
        height: 500px;
        width: 100%;
        text-align: center;
        }
.box10 img:nth-child(1) {
                        width: 100%;
                        max-width: 1630px;
                        }
.box10 img:nth-child(2) {
                        margin-left: -218px;
                        position: absolute;
                        top: 60px;
                        left:50%;
                        }

/* 상세정보 설정 */
.box11  {position: relative;}
.title2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 160px;
        }
.line4 {
        border: 1px solid #000000;
        margin-left: 130px;
        margin-right: 130px;
        }

/* box12설정 */
.box12 {
        display: flex;
        justify-content: space-between;
        height: 850px;
        }
.box12-1 {
        width: 670px;
        height: 680px;
        margin-left: 210px;
        }
.box12-2{margin-right: 330px;}

.txt12-1 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
        }
.txt12-2{
        font-size: 22px;
        margin-bottom: 33px;
        }
.txt12-3{
        font-size: 26px;
        margin-bottom: 175px;
        letter-spacing: 1.5px;
        }
.txt12-4{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        }
.line7{
        width: 600px;
        height: 0px;
        border: 1px solid #000000;
        margin-bottom: 20px;
        }
.txt12-5{font-size: 17px;}

/* 리뷰 설정 */

.box13{height: 850px;}
.title2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 160px;
        }
.line4 {
        border: 1px solid #000000;
        margin-left: 130px;
        margin-right: 130px;
        margin-bottom: 70px;
        }
.box13 ul {
        display: flex;
        justify-content: space-around;
        margin-right: 130px;
        margin-left: 130px;
        }
.good {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        }
.txtRe  {
        display: flex;
        justify-content: space-between;
        width: 310px;
        }
.re {font-size: 17px;}
.re:hover {
        cursor: pointer;
        font-weight: bold;
        color: #d49c00;
        }
.heartBox {
        width: 30px;
        height: 30px;
        float: left;
        position: relative;
        }
.heartBox img {
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                }
.heartBox img:nth-child(1){opacity: 1;}
.heartBox:hover img:nth-child(1) {
                                cursor: pointer;
                                opacity: 0;
                                }
.heartBox:hover img:nth-child(2) {
                                cursor: pointer;
                                opacity: 1;
                                }

.rev    {
        display: flex;
        justify-content: space-between;
        align-items: center center;
        }
.click2 {
        position: absolute;
        right: 0;
        margin-right: 100px;
        width:150px;
        margin-top: 15px;
        }
.point {margin-left: 10px;}
.click2:hover {
        cursor: pointer;
        font-weight: bold;
        color: #d49c00;
        }
/* 상품문의 설정 */
.box14  {
        height: 820px;
        position: relative;
        }
.title2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 160px;
        }
.line4 {
        border: 1px solid #000000;
        margin-left: 130px;
        margin-right: 130px;
        }
.pBox1  {
        width: 10%;
        text-align: center;
        }
.pBox2  {
        width: 50%;
        text-align: center;
        }
.pBox2:hover {
        cursor: pointer;
        font-weight: bold;
        }
.txt14-1 .pBox2:hover {
                cursor: default;
                font-weight: normal;
                }
.pBox3  {
        width: 10%;
        text-align: center;
        }
.pBox4  {
        width: 10%;
        text-align: center;
        }
.pBox5  {
        width: 10%;
        text-align: center;
        }
.box14 ul {margin-top: -50px;}
.box14 li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 135px;
        margin-bottom: 18px;
        padding-bottom: 18px;
        width: 1630px;
        border-bottom: 1px solid #6a6a6a;
        }
.box14 img {
        width: 23px;
        height: 23px;
        margin-right: 5px;
        }

.number {
        display: flex;
        justify-content: center;
        align-items: center;
        }
.number span {
        margin: 50px;
        font-size: 20px;
        width: 100%;
        }
.number span:hover {
                cursor: pointer;
                color: #F5B602;
                }
.button2 {
        display: flex;
        justify-content: flex-end;
        right: 150px;
        position: absolute;
        }
.ho     {
        display: flex;
        justify-content: center;
        align-items: center;
        }
.btn5   {
        margin-right: 10px;
        width: 150px;
        height: 40px;
        font-size: 15px;
        background-color: #fff;
        border: 1px solid #6a6a6a;
        color: #1a1a1a;
        }
.btn6   {
        margin-right: 5px;
        width: 150px;
        height: 40px;
        font-size: 15px;
        background-color: #fff;
        border: 1px solid #6a6a6a;
        color: #1a1a1a;
        }
.btn5:hover {
        cursor: pointer;
        background-color: #9a9a9a;
        border: none;
        color: #fff;}
.btn6:hover {
        cursor: pointer;
        background-color: #9a9a9a;
        border: none;
        color: #fff;}

/* 배송비절약하기 */
.box15{height: 780px;}
.title2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 160px;
        }
.line4 {
        border: 1px solid #000000;
        margin-left: 130px;
        margin-right: 130px;
        margin-bottom: 70px;
        }
.box15 ul {
        display: flex;
        justify-content: space-around;
        margin-right: 100px;
        margin-left: 100px;
        }
.txt15-1{
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        }
.txt15-2{font-size: 18px;}
.box15 ul li img {
                width: 330px;
                height: 435px;
                object-fit: contain;
                }
.box15 ul li img:hover {
                        cursor: pointer;
                        opacity: 0.5;
                        }
.txt15-1:hover {cursor: pointer;
        color: #d49c00;}