@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 전체설정 */
* {margin: 0;
padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
color: #000;}
img {border: none;
vertical-align: bottom;}

body    {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 32px;
        color: #1a1a1a;
        }


        /* header설정 */
        header {padding: 20px 0;
                width: 90%;
                margin-left: auto;
                margin-right: auto;}
/* 로고설정 */
.logo   {
        width: 244px;
        height: 61px;
        background-image: url(../img/seoul_logo.jpg);
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        }

/* gnb 설정 */
.gnb {}
.gnb ul {display: flex;}
.gnb ul li {font-size: 20px;}
.gnb ul li a {
        margin: 15px 0;
            padding: 5px 60px;
            display: block;
            color: #1a1a1a;
            border-right: 1px solid #ccc;
            }

            .gnb ul li:last-child a {
               
                    border:none
                    }
.gnb li:hover   {
                color: #2B5A0A;
                font-weight: bold;
            
                }

/* hero설정 */
.hero   {
        width: 100%;
        height: 80vh; /* vh는 화면의 80%정도를 차지함을 뜻함 */
        overflow: hidden;
        position: relative;
        }
.hero img   {
            width: 100%;
            transform: translateY(-300px);
            }

/* hero 화살표설정 */
.hero span {
            position: absolute;
            top: 45%;
        font-weight: bold;
        display: block;
        font-size: 28px;
        color: #C6BDBD;
        cursor: pointer;
          
            }
 .hero .left {left:5%;}
 .hero .right {right: 5%;}           

 .hero span:hover {color: #333;}   

 .hero_txt   {
    position: absolute;
   width: 800px;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    left:50%;
    margin-left: -400px;
    top:38%;
    text-align: center;
    }

    .circle {position: absolute;
                width: 20px;
     
left: 5%;
top: 10%;}
.circle li {width: 10px;
        height: 10px;
        
        border-radius: 5px;
        margin-bottom: 10px;
text-indent: -9999px;
        border: 1px solid #fff;}
        .circle li.on {background-color: #fff;}
 

/* 전체타이틀설정 */
.title  {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 28px;
        color: #1a1a1a;
        
        }

/* info설정 */
.info {margin-bottom: 400px;}
.info .title {
            font-size: 80px;
            margin-bottom: 28px;
            color: #406B21;
            }
.info .top_title {
                font-size: 150px;
                color: #D9D9D9;
                opacity: 0.3;
                margin-top: 140px;
}
.info .top_txt {
                font-size: 20px;
                margin-bottom: 29px;
                color: #1a1a1a;
                }
.info em   {
            font-weight: bold;
            font-style: normal;
            font-size: 24px;
            }
.info .bottom_txt {
                display: flex;
                font-size: 20px;
}
.info button {
            padding: 10px 30px;
            background-color: #775439;
            color: #fff;
            cursor: pointer; 
            margin-top: 20px;
            border: none;
            width: 220px;
            height: 55px;
            font-size: 20px;
            }
.info button:hover {opacity: 0.6;}
.info_img   {
            margin-top: 185px;
            width: 100%;
            text-align: center;
            }
            .info_img img {max-width: 100%;}           

/* 서울숲 명소 */
.title_1 {margin-bottom: 100px;}
.tour {position: relative;
        background-color: red;}
.tour .imgBox1  {
                background: rgba(82, 120, 55, 0.4);
                margin-top: 20px;
                position: relative;
                height: 600px;
                width: 850px;
                margin-bottom: 180px;
                }

.tour .imgBox1>div  {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    height: 200px;
                    width: 100%;
                    left: 0;
                    top: 0;
                    display: none;
                    }
.tour .imgBox1>div.on {
                        display: flex;
                        }
.tour .imgBox1 img   {
                    position: absolute;
                    right: -100px;
                    top: -40%;
                    }
.box4-2 {position: absolute;
right: 50px;
bottom: 300px;}
.box4-2 li {position: absolute;
left: 0;
top: 0;
display: none;}
.box4-2 li.on{display: block;}


/* 서울숲지도 */
.title_2 {
        margin-bottom: 100px;
        margin-top: 110px;
        }

.map .imgBox2   {
                margin-top: 20px;
                position: relative;
                height: 600px;
                width: 850px;
                }
.map .imgBox2>div  {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    height: 200px;
                    width: 100%;
                    left: 0;
                    top: 0;
                    display: none;
                    }
.map .imgBox2>div.on    {
                        display: flex;
                        }
.map .imgBox2 img   {
                    position: absolute;
                    right: -100px;
                    top: -40%;
                    }

.map .click li {
                padding: 30px;
                color: #1a1a1a;
                background:rgba(91, 186, 79, 0.3);;
                width: 300px;
                text-align: center;
                }

.map li:hover   {
                color: #2B5A0A;
                font-weight: bold;
                }
.btn ul {
        display: flex;
        text-align: right;
        }
.btn img    {
            width: 35px;
            height: 35px;
            margin-left: 30px;
            margin-right: 5px;
            justify-content: center;
            }
.btn ul li p {font-size: 16px;} 
.map button {
            padding: 10px 30px;
            background-color: #775439;
            color: #fff;
            cursor: pointer; 
            margin-top: 20px;
            border: none;
            width: 160px;
            height: 70px;
            font-size: 25px;
            }
.map button:hover {opacity: 0.6;}


/* 공지사항 */
.notice {display: flex;}
.notice h3 {
            color: #927661;
            margin-top: 20px;
            }
.notice p   {
            color: #888484;
            font-size: 22px;
            margin-top: 12px;
            margin-bottom: 150px;
            }
.notice img {margin-top: 50px;}
.notice {border-bottom: solid 2px #1a1a1a;}
.notice .not1:hover {opacity: 0.6;}
.notice .not2:hover {opacity: 0.6;}
.notice .not3:hover {opacity: 0.6;}


/* 찾아오시는길 */
.google {padding-left: 60px;}
.google b {font-size: 35px;}
.google p {font-size: 35px;}
.google img {padding-right: 25px;}
.bus li em {
            font-style: normal;
            color: #FFB443;
            padding-right: 20px;
            }
.bus li span    {
                color: #5BBA4F;
                padding-right: 50px;
                }
.bus ul {
        padding-left: 65px;
        margin-top: 10px;
        }
.bus ul li p {padding-left: 117px;
margin-bottom: 250px;}





.box15-1 .title {text-align: center;}


/* SNS */

.snsSet ul {display: flex;
justify-content: center;
width: 100%;}
.snsSet li a{display: flex;
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}
.snsSet li a span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        border: 2px solid #775439;}

.snsSet li a img{max-width:69px;
        height:69px;}
        .snsSet li a p {font-size: 16px;
                margin-top: 10px;} 
                
                .snsSet li a:hover img {opacity: 0.6;}               

.footer {
        background-color: #625353;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        padding-left: 95px;
        margin-top: 125px;
        }
.footer_1   {
            margin-bottom: 40px;
            padding-top: 80px;
            }
.footer_2 {margin-bottom: 20px;}
.footer_3 {margin-bottom: 20px;}
.footer_5   {
            margin-top: 40px;
            padding-bottom: 80px;
            }



















/* 미디어쿼리구간설정///////////////////////////////////// */

/* 768이상구간 설정////////////////////////// */
@media (min-width: 768px) {

    /* 레이아웃 설정 */

    /* 박스A와 B 가로정렬 */


    header:after {content: "";
                display: block;
        clear: both;}
    .boxA {float: left;
    width: 40%;}
    .boxB {float: left;
    width: 60%;}

    /* 박스2-1과 2-2 가로정렬 */
    .box2 {display: flex;
    justify-content: center;
width: 80%;
margin: 0 auto;}
    .box2-1 {width: 50%;
}
    .box2-2 {width: 50%;
       }

    /* 박스4-1과 4-2 가로정렬 */
    .box4 {display: flex;
        justify-content: space-between;}
    .box4-1 {width: 68%;}
    .box4-2 {width: 30%;}

    /* 박스 6-1, 6-2, 6-3 가로정렬 */
    .box6 {display: flex;
        justify-content: space-between;}
    .box6>div {width: 32%;}
    
    /* 박스 8-1과 8-2 가로정렬 */
    .box8 {display: flex;
        justify-content: space-between;}
    .box8-1 {width: 26%;}
    .box8-2 {width: 72%;}

    /* 박스 10-1, 10-2, 10-3 가로정렬 */
    .box10 {display: flex;
        justify-content: center;}
    .box10>div {width: 32%;}

    /* 박스14-1과 14-2 가로정렬 */
    .box14 {display: flex;
            justify-content: space-between;}
    .box14-1 {width: 75%}
    .box14-2 {width: 25%;}
